{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row" style="margin-top: 5.2rem;">
		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a><br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
			</div>
		<br>
			<div class="box-element" style="overflow-x: auto; white-space: nowrap;overflow-y: hidden;">
				<div class="row flex-nowrap mx-0">
					<div style="flex:1"></div>
					<div style="flex:2; margin-left: 7px;"><strong>Image</strong></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="row flex-nowrap mx-0">
					<div style="flex:1; margin-top: 1rem;margin-left: 0.5rem;">
						<button data-product="{{item.product.id}}" data-action="remove" type="button" 
						class="btn-close update-cart" aria-label="Close">
					</button>
					</div>
					<div style="height: 90px; width: 50px;flex:2">
						<img class="row-image" src="{{item.product.imageURL}}"
						 style="width: 30%;height: 90%; object-fit: cover;">
					</div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2 }}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'assets/arrow-up.png' %}">
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'assets/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{item.get_total}}</p></div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
{% endblock content %}
