{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row gy-4" style="margin-top: 5rem;">
        {% for product in products %}
        <div class="col-lg-4 img-card">
            <div class="thumbnail">
                <a href="{% url 'car_detail' product.id %}">
                <img  src="{{product.imageURL}}">
            </a></div>
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button id="liveToastBtn"  data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="{% url 'car_detail' product.id %}">View</a>
                <h4 style="display: block; float: right"><strong>${{ product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

